/* Global Styles */

body {
  background-color: #333;
  font-family: 'Raleway', sans-serif;
  font-family: 'Playfair Display', serif;
}

h1 {
  font-size: 4em;
  font-family: 'Playfair Display', serif;
}

h2 {
  font-size: 4em;
  font-family: 'Playfair Display', serif;
}

h3 {
  font-family: 'Raleway', sans-serif;
  font-variant: small-caps;
}

p {
  font-family: 'Raleway', sans-serif;
  color: #333;
}


.card {
  margin-bottom: 15px;
}


.row {
  padding-left: 10px;
  padding-right: 10px;
}

/* Navbar */

.navbar-dark {
  background-color: #333;
}

.searchButton {
  cursor: pointer;
}

/* Landing */

.landing {
  height: 100vh;
  background-image:url(images/bedcat.jpg);
  background-size: cover;
  background-position: center;
  position: relative;
  z-index: 1;
}

.landing::after {
  content: '';
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 100%;
  background: rgba(0, 0, 0, 0.50);
  z-index:-1;
}

.landingtext {
  z-index: 2000;
  color: #cfa707;
  text-align: center;
  position: relative;
  height: 100vh;
  display: inline;
}

/* About Us */

.about {
  min-height: 100vh;
  background-color: #eeeeee;
}

.abouttext {
  color: #cfa707;
  position: relative;
  display: inline;
  margin-top: 2em;
  margin-bottom: 2em;
}

.selfie {
  height: 150px;
  width: 150px;
  border-radius: 100px;
  border-color: #cfa707;
  border-width: 3px;
  border-style: solid;
  background-size: contain;
}

.selfie1 {
  background-image: url('images/matthew.jpg');
}

/* .selfie2 {
  width: 20%;
  height: 20%;
} */

/*Services*/

.services {
  min-height: 100vh;
  background-color: #dddddd;
}

.servicestext {
  color: #cfa707;

  margin-top: 2em;
  margin-bottom: 2em;
}

.services li {
  font-family: 'Raleway', sans-serif;
  color: #333;
}
/*Pricing*/

.pricing {
  min-height: 100vh;
  background-color: #eeeeee;
}

.pricingtext {
  color: #cfa707;
  position: relative;
  display: inline;
  margin-top: 2em;
  margin-bottom: 2em;
}

.pricing li {
  font-family: 'Raleway', sans-serif;
  color: #333;
}

#totalCost {
  color: #333;
  font-size: 3em;
}

/*Why GCC*/

.whygcc {
  min-height: 100vh;
  background-color: #dddddd;
}

.whygcctext {
  color: #cfa707;
  position: relative;
  display: inline;
  margin-top: 2em;
  margin-bottom: 2em;
}

/*Contact*/

.contact {
  min-height: 100vh;
  background-color: #eeeeee;
  position: relative;
  z-index: 1;
}

.after:after {
  content: '';
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 100%;
  background: rgba(0, 0, 0, 0.75);
  z-index: 2
}


.contacttext {
  color: #cfa707;
  position: relative;
  display: inline;
  margin-top: 2em;
  margin-bottom: 2em;
}

.nametext, .emailtext, .textbox {
  font-family: 'Raleway', sans-serif;
}

.textbox {
  height: 20vh;
}

.submit {
  font-variant: small-caps;
  margin-top: 20px;
  cursor: pointer;
}

.contactCard h4 {
  padding: 5px;
}

/*Footer*/

footer {
  background-color: #333;
  color: white;
  border-top: 3px solid #cfa707;
}

.footerText {

}

#footerLeft {
  color: white;
  font-family: 'Playfair Display', serif;
  margin-bottom: 0;
}

#footerRight {
  color: white;
  font-family: 'Playfair Display', serif;
  text-align: right;
  margin-bottom: 0;
}

/* Form */

.success {
  padding: 1em;
  margin-bottom: 0.75rem;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
  color: #468847;
  background-color: #dff0d8;
  border: 1px solid #d6e9c6;
  -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
          border-radius: 4px;
}

.error {
  padding: 1em;
  margin-bottom: 0.75rem;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
  color: #b94a48;
  background-color: #f2dede;
  border: 1px solid rgba(185, 74, 72, 0.3);
  -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
          border-radius: 4px;
}
